## 11720번
https://www.acmicpc.net/problem/11720

N개의 숫자가 공백 없이 쓰여있다. 이 숫자를 모두 합해서 출력하는 프로그램을 작성하시오.


입력
첫째 줄에 숫자의 개수 N (1 ≤ N ≤ 100)이 주어진다. 둘째 줄에 숫자 N개가 공백없이 주어진다.


출력
입력으로 주어진 숫자 N개의 합을 출력한다.

In [11]:
N = int(input())
num = input()
sum_ = 0
for i in range(N):
    sum_ = sum_ + int(num[i])
print(sum_)

5
54321
15

### = input으로 넣으면 자동으로 str로 분류되는 듯!!!!  num[i] 해주면 쉽게 바로 인덱싱이 된다는 거

## 2577번
https://www.acmicpc.net/problem/2577

세 개의 자연수 A, B, C가 주어질 때 A×B×C를 계산한 결과에 0부터 9까지 각각의 숫자가 몇 번씩 쓰였는지를 구하는 프로그램을 작성하시오.

예를 들어 A = 150, B = 266, C = 427 이라면 

A × B × C = 150 × 266 × 427 = 17037300 이 되고, 

계산한 결과 17037300 에는 0이 3번, 1이 1번, 3이 2번, 7이 2번 쓰였다.


입력) 

첫째 줄에 A, 둘째 줄에 B, 셋째 줄에 C가 주어진다. A, B, C는 모두 100보다 같거나 크고, 1,000보다 작은 자연수이다.


출력)

첫째 줄에는 A×B×C의 결과에 0 이 몇 번 쓰였는지 출력한다. 마찬가지로 둘째 줄부터 열 번째 줄까지 A×B×C의 결과에 1부터 9까지의 숫자가 각각 몇 번 쓰였는지 차례로 한 줄에 하나씩 출력한다.

In [21]:
A = int(input())
B = int(input())
C = int(input())

result = str(A*B*C)
result = list(result)

lst = [0,1,2,3,4,5,6,7,8,9]
lst = list(map(str,lst))
for i in lst:
    a = result.count(i)
    print(a)

150
266
427
3
1
0
2
0
0
0
2
0
0

## 내 함수의 문제점이 뭘까,,?
    A = int(input())
    B = int(input())
    C = int(input())

    result = str(A*B*C)
    result = list(result)

    lst = [0,1,2,3,4,5,6,7,8,9]
    for i in str(lst):
        a = result.count(i)
        print(a)
    
    
    
각 인수가 str이 되게 했어야 했는데 그냥 str(lst)로 묶어버리니까 전체가 하나의 str이 되어버렸던 것!! map으로 인자 하나하나에 str을 적용했어야 함. 이게 어려웠다면,,,,range로 돌렸어야즤,,껄껄,,

In [13]:
a = int(input())
b = int(input())
c = int(input())

k = a*b*c
k_list = list(str(k))
for i in range(10):
    k_num_count = k_list.count(str(i))
    print(k_num_count)

150
266
427
3
1
0
2
0
0
0
2
0
0